<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <input type="text" name="nombre" placeholder="ingresa tu nombre" v-model="nombre " />
        <p>Tu nombre en mayuscula es: {{ nombre  }} </p>

        <form v-on:submit.prevent="submit">
            <h2>¿Cuales son tus cursos favoritos?</h2>

            <input v-model="cursos" type="checkbox" id="vue" value="vue">
            <label for="vue">Curso de Vue.js</label>
            <br>

            <input v-model="cursos" type="checkbox" id="seo" value="seo">
            <label for="seo">Curso de seo</label>
            <br>
            
            <input v-model="cursos" type="checkbox" id="react" value="react">
            <label for="react">Curso de React y Redux</label>
            <br>

            <input v-model="cursos" type="checkbox" id="growth" value="growth">
            <label for="growth">Curso de Growth Marketing</label>
            <br>

            <button type="submit">Enviar</button>
        </form>
    </div>

    <script src="https://unpkg.com/vue"></script>
    <script>
        let app = new Vue({
            el: '#app',
            data: {
                nombre: '',
                cursos: []
            },
            filters: {
                uppercase:  srt => { return str.toUpperCase() }, 
            },
            methods: {
                submit() {
                    console.log('funcion bonita')
                    console.log(this.cursos)
                },
            }
        })
    </script>
</body>
</html>